[submodule "/home/nnutter/.vim/bundle/vundle"]
	path = /home/nnutter/.vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "/home/nnutter/.vim/pack/vim-crystal/start/vim-crystal"]
	path = /home/nnutter/.vim/pack/vim-crystal/start/vim-crystal
	url = git@github.com:rhysd/vim-crystal.git
[submodule "/home/nnutter/.vim/pack/vim-puppet/start/vim-puppet"]
	path = /home/nnutter/.vim/pack/vim-puppet/start/vim-puppet
	url = git@github.com:rodjek/vim-puppet.git
[submodule "/home/nnutter/.vim/pack/tabular/start/tabular"]
	path = /home/nnutter/.vim/pack/tabular/start/tabular
	url = git@github.com:godlygeek/tabular.git
