[submodule "/home/nnutter/.vim/bundle/vundle"]
	path = /home/nnutter/.vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "/home/nnutter/.vim/pack/vim-crystal/start/vim-crystal"]
	path = /home/nnutter/.vim/pack/vim-crystal/start/vim-crystal
	url = git@github.com:rhysd/vim-crystal.git
[submodule "/home/nnutter/.vim/pack/vim-puppet/start/vim-puppet"]
	path = /home/nnutter/.vim/pack/vim-puppet/start/vim-puppet
	url = git@github.com:rodjek/vim-puppet.git
[submodule "/home/nnutter/.vim/pack/tabular/start/tabular"]
	path = /home/nnutter/.vim/pack/tabular/start/tabular
	url = git@github.com:godlygeek/tabular.git
[submodule "/home/nnutter/.vim/pack/isort/start/isort"]
	path = /home/nnutter/.vim/pack/isort/start/isort
	url = git@github.com:fisadev/vim-isort.git
[submodule "/home/nnutter/.vim/pack/vim-go/start/vim-go"]
	path = /home/nnutter/.vim/pack/vim-go/start/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "/home/nnutter/.vim/pack/vim-elixir/start/vim-elixir"]
	path = /home/nnutter/.vim/pack/vim-elixir/start/vim-elixir
	url = git@github.com:elixir-lang/vim-elixir.git
[submodule "/home/nnutter/.vim/pack/taskpaper/start/taskpaper"]
	path = /home/nnutter/.vim/pack/taskpaper/start/taskpaper
	url = git@github.com:davidoc/taskpaper.vim.git
[submodule "/home/nnutter/.vim/pack/ctrlp/start/ctrlp"]
	path = /home/nnutter/.vim/pack/ctrlp/start/ctrlp
	url = git@github.com:kien/ctrlp.vim.git
[submodule "/home/nnutter/.vim/pack/neocomplete/start/neocomplete"]
	path = /home/nnutter/.vim/pack/neocomplete/start/neocomplete
	url = git@github.com:Shougo/neocomplete.vim.git
[submodule "/home/nnutter/.vim/pack/ale/start/ale"]
	path = /home/nnutter/.vim/pack/ale/start/ale
	url = git@github.com:w0rp/ale.git
[submodule "/home/nnutter/.vim/pack/rust/start/rust"]
	path = /home/nnutter/.vim/pack/rust/start/rust
	url = git@github.com:rust-lang/rust.vim.git
[submodule "/home/nnutter/.vim/pack/vimwiki/start/vimwiki"]
	path = /home/nnutter/.vim/pack/vimwiki/start/vimwiki
	url = git@github.com:vimwiki/vimwiki.git
[submodule "/home/nnutter/.vim/pack/surround/start/surround"]
	path = /home/nnutter/.vim/pack/surround/start/surround
	url = git@github.com:tpope/vim-surround.git
