# Secrets
/.gnupg/
!/.gnupg/gpg.conf
/.op/config
/.ssh/
!/.ssh/config
/.jenkins_pass
/.ansible/playbooks-vault-pass

# History
/.bash_history
/.julia_history
/.lesshst
/.ssh/known_hosts
/.ssh/known_hosts.old
/.viminfo

# Cache Directories
/.bundle/cache/
/.cache/
/.cpanm/
/.dotfiles.git/
/.dropbox-dist/
/.dropbox/
/.gem/
/.go/
/.hex/
/.kube/
/.macromedia/
/.minikube/
/.minishift/
/.mix/
/.mozilla/
/.npm/
/.pkg-cache/
/.plenv/
/.rbenv/
/.tldr/cache/
/.vim/.netrwhist
/.vscode/
/.wine/
/.wine_YNAB4/
/Dropbox/

# Other
/.config/evolution/
/.config/google-chrome/
/.local/share/evolution/
/.local/share/gnome-shell/extensions/
/.local/share/Trash/
/src/
/tmp/
