" source ~/.vimrc
" set noincsearch
" set commentary
" :map ,t :action RunClass<CR>
	" foo bar baz foo bar baz foo bar baz foo bar baz foo bar baz foo bar baz foo bar baz foo bar baz foo bar baz foo bar baz foo bar baz foo bar baz foo bar baz foo bar baz foo bar baz foo bar baz foo bar baz foo bar baz foo bar baz foo bar baz foo bar baz

set ideajoin
set ideamarks

set commentary
set surround

" :map gq <Action>(Wrap Line to Column)
