$include /etc/inputrc

set completion-ignore-case on

# hide the common part of the matches behind ellipsis
set completion-prefix-display-length 3

# navigate possible completions
Control-j: menu-complete
Control-k: menu-complete-backward

# lets hyphens complete underscores
set completion-map-case on

set completion-query-items 150
"\e[3~": delete-char

# up/down searches history starting with what's been typed
"\e[A": history-search-backward
"\e[B": history-search-forward
# and Vim-style
"\C-p": history-search-backward
"\C-n": history-search-forward

set colored-stats On
set mark-symlinked-directories On
set show-all-if-ambiguous On
set show-all-if-unmodified On
set visible-stats On
